---
import { client } from '../../../tina/__generated__/databaseClient'

import Layout from "../../layouts/Layout.astro";
import GaleryItem from "../../components/GaleryItem.astro";

export async function getStaticPaths() {
	const categoriesConnection = await client.queries.categoriesConnection();
	const galeryItemsConnection = await client.queries.galeryItemsConnection();

	return categoriesConnection.data.categoriesConnection.edges?.map((cat) => {
		const galeryItemsIds =
			galeryItemsConnection.data.galeryItemsConnection.edges
				?.filter((item) => item?.node?.category.id === cat?.node?.id)
				.map((item) => item?.node?._sys.relativePath);

		return {
			params: { category: cat?.node?._sys.filename as string },
			props: {
				name: cat?.node?.name as string,
				items: galeryItemsIds as string[],
			},
		};
	});
}

const { name, items } = Astro.props;
---

<Layout title="Daniel Culis | Galerie" navbar_selected={2} transitions={true}>
	<div
		class="flex flex-col lg:flex-row-reverse w-3/4 lg:w-3/5 2xl:w-2/5 m-auto lg:mt-24"
	>
		<div class="left">
			<h1
				class="pt-16 pb-6 ml-4 xl:pb-12 text-xl md:text-2xl lg:text-3xl xl:text-3xl 2xl:text-4xl font-bold"
			>
				{name}
			</h1>
			{
				items
					.filter((_, i) => i % 2 === 0)
					.map((item) => <GaleryItem relativePath={item} />)
			}
		</div>
		<div class="right lg:mr-12 xl:mr-16 2xl:mr-24">
			{
				items
					.filter((_, i) => i % 2 === 1)
					.map((item) => <GaleryItem relativePath={item} />)
			}
		</div>
	</div>
</Layout>
