---

---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<script>
			import LogtoClient from "@logto/browser";

			if (window.location.pathname == "/api/tina/auth") {
				const logtoClient = new LogtoClient({
					endpoint: "https://auth.gasdev.fr/",
					appId: "irxbfn6981qpl0oxuiqqu",
				});

				const bodyElement = document.querySelector(
					"body",
				) as HTMLBodyElement;

				try {
					await logtoClient.handleSignInCallback(
						window.location.href,
					);
					bodyElement.innerText = "Logged in !";
					window.location.href = "/admin";
				} catch {
					bodyElement.innerText = "Failed to log in, redirecting...";
					setTimeout(() => (window.location.href = "/admin"), 1000);
				}
			}
		</script></head
	>

	<body>Logging in...</body>
</html>
