---
import { client } from "../../../../tina/__generated__/databaseClient";
import { CMSMarkdown } from "../../../components/cms/CMSMarkdown";

import Layout from "../../../layouts/Layout.astro";

export async function getStaticPaths() {
	const { data } = await client.queries.categoriesConnection();

	const paths: any[] = [];

	data.categoriesConnection.edges?.forEach((cat) => {
		cat?.node?.items?.forEach((_, i) => {
			
			paths.push({
				params: {
					id: `${cat?.node?._sys.filename}-${i}`
				},
				props: {
					relativePath: cat?.node?._sys.relativePath as string,
					index: i
				},
			})
		})
	});

	return paths;
}

const { relativePath, index } = Astro.props;
const category = await client.queries.categories({ relativePath });
const item = category.data.categories.items[index];
---

<Layout title="Daniel Culis | Galerie" navbar_selected={2}>
	<main class="p-12 w-full flex flex-col place-items-center">
		<div
			class="relative grow-0 w-fit"
		>
			<img
				src={item.image}
				alt={item.name}
			/>
			<div
				class="close absolute left-4 top-4 w-12 h-12 bg-gray-600 border-gray-700 border-4 rounded-lg opacity-[0.3] hover:opacity-[1] cursor-pointer"
				onclick="
				window.history.back()
				"
			>
			</div>
		</div>
		<div class="pt-12 prose lg:prose-xl text-justify">
			<CMSMarkdown
				collection="categories"
				field="item"
				{...category}
				client:tina
			/>
		</div>
	</main>
</Layout>
<style>
	.close:before,
	.close:after {
		position: absolute;
		top: 1px;
		left: 18px;
		content: " ";
		height: 38px;
		width: 4px;
		background-color: #333;
		border-radius: 4px;
	}
	.close:before {
		transform: rotate(45deg);
	}
	.close:after {
		transform: rotate(-45deg);
	}
</style>
