---
import Layout from "../layouts/Layout.astro";
import { Content } from "../content/biography.md";
---

<Layout title="Daniel Culis | Biographie" navbar_selected={1}>
	<main class="m-auto pt-12 w-3/4 lg:w-3/5 2xl:w-2/5">
		<Content />
	</main>
</Layout>

<style is:inline>
	h1 {
		font-size: 2.5rem;
	}
</style>
