---
import { Image } from "astro:assets";
import Hero from "../components/index/Hero.astro";
import Layout from "../layouts/Layout.astro";

import tourImage from "../assets/img/tournage.jpg";
import emailImage from "../assets/img/critallisation_macro.png";
---

<Layout title="Daniel Culis | Accueil" navbar_selected={0}>
	<Hero />
	<main
		class="flex flex-col space-y-10 sm:pt-16"
		style=" transform-style: preserve-3d;"
	>
		<section class="section-section">
			<div
				class="grid grid-cols-1 sm:grid-cols-2 gap-4 py-8 lg:mb-12 xl:mb-24 2xl:mb-24"
			>
				<article class="flex flex-col">
					<a
						href="/parcours"
						class="text-2xl pb-8 sm:pb-4 sm:text-xl underline underline-offset-4 font-bold"
						>Parcours</a
					>
					<div class="flex flex-col justify-center flex-grow">
						<h2
							class="text-lg md:text-3xl lg:text-4xl xl:text-5xl pb-4 pr-4"
						>
							Si de tes mains ma poterie tu palpes, sache que
							c'est mon coeur que tu caresses.
						</h2>
						<i
							class="pb-4 sm:pb-4 md:pb-6 lg:pb-8 text-lg xl:text-xl"
							>- Daniel Culis</i
						>
					</div>
				</article>
				<Image src={tourImage} alt="Tournage" />
			</div>
		</section>

		<section
			class="h-fit -z-10 overflow-visible"
			style=" transform-style: preserve-3d;"
		>
			<div
				class="h-full w-full flex flex-col justify-between absolute py-10 xl:py-32 section-section"
			>
				<a
					href="/galerie"
					class="section-title underline underline-offset-4 font-bold"
					>Galerie</a
				>
			</div>
			<Image
				src={emailImage}
				alt="Prise de vue d'un émail"
				class="w-full -z-10 pointer-events-none"
				style="transform: translateZ(-10px)"
			/>
		</section>
	</main>
</Layout>

<style>
	@import "tailwindcss";

	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	@layer components {
		.section-title {
			@apply text-white text-xl sm:text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl pb-8 sm:pb-0;
		}

		.section-header {
			@apply text-xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl;
		}

		.section-section {
			@apply px-6 sm:px-12 md:px-16 lg:px-24 xl:px-32;
		}
	}

	h2 {
		font-family: "Marlin Geo SQ";
	}

	@media only screen and (max-width: 500px) {
		#galery-text {
			display: none;
		}
	}
</style>
