---
import Hero from "../components/index/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Daniel Culis | Accueil" navbar_selected={0}>
	<Hero />
	<main
		class="flex flex-col space-y-10 sm:pt-16"
		style=" transform-style: preserve-3d;"
	>
		<section class="px-6 sm:px-12 md:px-16 lg:px-24 xl:px-32">
			<div class="grid grid-cols-1 sm:grid-cols-2 gap-4 py-8">
				<article class="flex flex-col">
					<h2 class="text-2xl pb-8 sm:pb-0 sm:text-xl">Biographie</h2>
					<div class="flex flex-col justify-center flex-grow">
						<h2 class="section-header pb-6 pr-4">
							Lorem ipsum dolor sit amet
						</h2>
						<p class="pb-4 sm:pb-4 md:pb-6 lg:pb-8">
							Lorem ipsum dolor sit amet consectetur adipisicing
							elit. Tempore aliquam beatae ad voluptatibus,
							maiores excepturi sint quibusdam perferendis.
						</p>
						<a
							href="/biography"
							class="underline underline-offset-4 font-bold"
							>Son histoire</a
						>
					</div>
				</article>
				<img class="" src="/img/tour.png" />
			</div>
		</section>
		<section
			class="h-fit -z-10 overflow-visible"
			style=" transform-style: preserve-3d;"
		>
			<div
				class="h-full w-full flex flex-col justify-between absolute p-10"
			>
				<h2 class="section-title">Galerie</h2>
				<div class="flex flex-col w-4/6" id="galery-text">
					<h2 class="text-white section-header mb-8">
						Lorem ipsum dolor sit amet
					</h2>
					<p class="text-white pb-4 sm:pb-4 md:pb-6 lg:pb-8">
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Tempore aliquam beatae ad voluptatibus.
					</p>
				</div>
				<a
					href="/galery"
					class="text-white underline underline-offset-4 font-bold z-10"
					>Voir plus</a
				>
			</div>
			<img
				class="w-full -z-10 pointer-events-none"
				style="transform: translateZ(-10px)"
				src="/img/email.jpg"
			/>
		</section>
	</main>
</Layout>

<style>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	@layer components {
		.section-title {
			@apply text-white text-xl sm:text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl pb-8 sm:pb-0;
		}

		.section-header {
			@apply text-xl sm:text-3xl md:text-5xl lg:text-6xl xl:text-7xl 2xl:text-8xl;
		}
	}

	h2 {
		font-family: "Marlin Geo SQ";
	}

	@media only screen and (max-width: 500px) {
		#galery-text {
			display: none;
		}
	}
</style>
