---
import Layout from "../layouts/Layout.astro";
import { Content } from "../content/parcours/main.md";
---

<Layout title="Daniel Culis | Parcours" navbar_selected={1}>
	<main class="m-auto pt-12 w-3/4 lg:w-3/5 2xl:w-2/5 prose lg:prose-xl">
		<Content />
	</main>
</Layout>
