---
import { getCollection } from "astro:content";

import TestimonyForm from "../components/TestimonyForm.astro";
import Layout from "../layouts/Layout.astro";

import "swiper/css";

const content = (await getCollection("temoignages")) || [];
const testimonies = await Promise.all(
	content.map(async (t) => {
		return await t.render();
	}),
);
---

<Layout title="Daniel Culis | Témoignages" navbar_selected={3}>
	<main class="swiper m-auto text-justify">
		<div class="swiper-wrapper prose lg:prose-xl">
			{
				testimonies.map((md) => (
					<div class="swiper-slide px-3 pt-6">
						<md.Content />
					</div>
				))
			}
		</div>
	</main>

	<TestimonyForm />

	<script>
		import Swiper from "swiper";

		const swiper = new Swiper(".swiper", {
			slidesPerView: "auto",
			centeredSlides: true,
			spaceBetween: 12,
			rewind: true,
			autoHeight: true,
		});
	</script>
	<style></style>
</Layout>
