---
import Layout from "../layouts/Layout.astro";

const temoignages = await Astro.glob("../content/temoignages/*.md");
console.log(temoignages);
---

<Layout title="Daniel Culis | Témoignages" navbar_selected={3}>
	<main
		class="m-auto pt-12 w-3/4 lg:w-3/5 2xl:w-2/5 prose lg:prose-xl text-justify"
	>
		{
			temoignages.map((md) => {
				return <md.Content />;
			})
		}
	</main>

	<style></style>
</Layout>
