---
---

<footer class="flex content-center justify-between pb-10 pt-10">
	<p class="text-sm text-gray-500">© 2023 Gaspard Culis</p>
	<a href="https://github.com/GaspardCulis">
		<img src="/icon/github-mark.svg" alt="Github icon" />
	</a>
</footer>
<style>
	p {
		font-family: "Roboto", sans-serif;
		margin-left: 5%;
	}

	a {
		transition: 0.2s;
		margin-right: 5%;
		width: 20px;
		filter: brightness(100%);
	}

	a:hover {
		cursor: pointer;
		filter: brightness(50%);
	}
</style>
