---

---

<footer class="flex content-center justify-between pb-10 pt-10">
	<p class="text-sm text-gray-500">
		© 2023 Gaspard Culis | Photos <a
			class="inline underline"
			target="_blank"
			href="https://rise4motion.com/">Rise4motion</a
		>
	</p>
	<a id="github-link" href="https://github.com/GaspardCulis/pepe">
		<img
			src="/icon/github-mark.svg"
			alt="Github icon"
			width="20"
			height="20"
		/>
	</a>
</footer>
<style>
	p {
		font-family: "Roboto", sans-serif;
		margin-left: 5%;
	}

	#github-link {
		margin-right: 5%;
		width: 20px;
		height: 20px;
	}

	a {
		transition: 0.2s;
		filter: brightness(100%);
	}

	a:hover {
		cursor: pointer;
		filter: brightness(50%);
	}
</style>
