---
import { client } from "../../tina/__generated__/client";

import { CMSGaleryItem } from "../components/cms/CMSGaleryItem";

export interface Props {
	relativePath: string;
}

const { relativePath } = Astro.props;

const data = await client.queries.galeryItems({ relativePath });
---

<a
	href={`/galerie/item/${data.data.galeryItems._sys.filename}`}
	class="galery-item flex-1 flex flex-col m-4 pb-8 aspect-[1/1]"
>
	<CMSGaleryItem client:tina {...data} />
</a>
