---

---

<section id="testimony-form">
	<div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
		<h2
			class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900"
		>
			Témoigner
		</h2>
		<p
			class="mb-8 lg:mb-16 font-light text-center text-gray-500 sm:text-xl"
		>
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi iste
			deserunt recusandae natus ab sint assumenda est ipsa totam alias
			doloremque, iusto, pariatur possimus magnam iure odit explicabo,
			dicta facere?
		</p>
		<form id="form" class="space-y-8">
			<div>
				<label
					for="name"
					class="block mb-2 text-sm font-medium text-gray-900"
					>Nom</label
				>
				<input
					type="text"
					id="email"
					name="from_name"
					class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
					placeholder="Jean Dupont"
					required
				/>
			</div>
			<div>
				<label
					for="email"
					class="block mb-2 text-sm font-medium text-gray-900"
					>Adresse mail</label
				>
				<input
					type="email"
					id="email"
					name="from_email"
					class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
					placeholder="exemple@mail.com"
					required
				/>
			</div>
			<div class="sm:col-span-2">
				<label
					for="message"
					class="block mb-2 text-sm font-medium text-gray-900"
					>Votre message</label
				>
				<textarea
					id="message"
					name="message"
					rows="6"
					class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500"
					placeholder="Laissez un message..."></textarea>
			</div>
			<button
				id="submit-button"
				type="submit"
				class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300"
				>Envoyer</button
			>
		</form>
	</div>
</section>

<script>
	import emailjs from "@emailjs/browser";

	emailjs.init(import.meta.env.PUBLIC_EMAILJS_PUBLIC_KEY);

	const form = document.getElementById("form") as HTMLFormElement;
	const button = document.getElementById(
		"submit-button",
	) as HTMLButtonElement;

	form.addEventListener("submit", (ev) => {
		button.disabled = true;

		emailjs
			.sendForm(
				import.meta.env.PUBLIC_EMAILJS_SERVICE_ID,
				import.meta.env.PUBLIC_EMAILJS_TEMPLATE_ID,
				"#form",
			)
			.then((_) => {
				button.classList.add("success");
				button.innerText = "Témoignage envoyé !";
			})
			.catch((err) => {
				button.classList.add("error");
				console.error(err);

				button.innerText = "Erreur !";
			});

		ev.preventDefault();
	});
</script>

<style>
	#testimony-form {
		background-color: #ffe2c3;
	}

	button {
		background: linear-gradient(
			110deg,
			#fc4250 33%,
			#fdba74 33%,
			#fdba74 66%,
			#a8df8e 66%
		);
		background-position-x: 50%;
		background-size: 340%;

		transition: background-position-x ease-in-out 1s;
	}

	button.success {
		background-position-x: 100%;
	}

	button.error {
		background-position-x: 0%;
	}
</style>
