---
import client from "../../tina/__generated__/client";
import { CMSTestimony } from "./cms/CMSTestimony";

export interface Props {
	relativePath: string;
}

const { relativePath } = Astro.props;

const data = await client.queries.testimonies({ relativePath });
---

<div class="testimony shadow-lg rounded-lg select-none">
	<CMSTestimony client:visible {...data} />
</div>
<style is:inline>
	.content.expanded {
		max-height: none;
	}

	.expand-text-closed {
		display: block;
	}
	.expand-text-opened {
		display: none;
	}

	.content.expanded
		~ .expand-wrapper
		> div
		> .expand-text
		> .expand-text-closed {
		display: none;
	}

	.content.expanded
		~ .expand-wrapper
		> div
		> .expand-text
		> .expand-text-opened {
		display: block;
	}

	.content.overflows:not(.expanded) {
		-webkit-mask-image: linear-gradient(180deg, #000 80%, transparent);
	}

	.content.overflows ~ .expand-wrapper {
		display: block;
	}

	.content.overflows ~ .expand-wrapper > div > .expand-text {
		transform: translateY(0rem);
	}

	.expand-text {
		transition: transform 800ms ease-in-out;
		transition-delay: 1s;
	}
</style>
