---
import { client } from "../../tina/__generated__/databaseClient";
import { CMSTestimony } from "./cms/CMSTestimony";

export interface Props {
	relativePath: string;
}

const { relativePath } = Astro.props;

const data = await client.queries.testimonies({ relativePath });
---

<div class="testimony shadow-lg rounded-lg select-none">
	<CMSTestimony client:visible {...data} />
</div>
