---

---

<section id="testimony-form">
	<div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
		<h2
			class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900"
		>
			Témoigner
		</h2>
		<p
			class="mb-8 lg:mb-16 font-light text-center text-gray-500 sm:text-xl"
		>
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi iste
			deserunt recusandae natus ab sint assumenda est ipsa totam alias
			doloremque, iusto, pariatur possimus magnam iure odit explicabo,
			dicta facere?
		</p>
		<form action="#" class="space-y-8">
			<div>
				<label
					for="email"
					class="block mb-2 text-sm font-medium text-gray-900"
					>Adresse mail</label
				>
				<input
					type="email"
					id="email"
					class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
					placeholder="exemple@mail.com"
					required
				/>
			</div>
			<div class="sm:col-span-2">
				<label
					for="message"
					class="block mb-2 text-sm font-medium text-gray-900"
					>Votre message</label
				>
				<textarea
					id="message"
					rows="6"
					class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500"
					placeholder="Laissez un message..."></textarea>
			</div>
			<button
				type="submit"
				class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300"
				>Envoyer</button
			>
		</form>
	</div>
</section>

<style>
	#testimony-form {
		background-color: #ffe2c3;
	}

	button {
		background-color: #fdba74;
	}
</style>
