---
import { client } from "../../../tina/__generated__/client";
import { CMSMarkdown } from "../../components/cms/CMSMarkdown";

import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
	const storyConnection = await client.queries.storyConnection();

	return storyConnection.data.storyConnection.edges?.map((p) => {
		return {
			params: {
				slug:
					p?.node?._sys.filename == "index"
						? undefined
						: p?.node?._sys.filename,
			},
			props: {
				relativePath: p?.node?._sys.relativePath as string,
			},
		};
	});
}

const { relativePath } = Astro.props;

const content = await client.queries.story({ relativePath });
---

<Layout
	title={`Daniel Culis | ${content.data.story.title}`}
	navbar_selected={1}
>
	<main
		class="m-auto pt-12 w-3/4 lg:w-3/5 2xl:w-2/5 prose lg:prose-xl text-justify"
	>
		<CMSMarkdown collection="story" field="body" {...content} client:tina />
	</main>
</Layout>
