---
import { getCollection } from "astro:content";

import Layout from "../../layouts/Layout.astro";
import Testimony from "../../components/Testimony.astro";
import fetchApi from "../../../lib/strapi";
import type { default as TTestimony } from "../../interfaces/Testimony";

const testimonies = await fetchApi<TTestimony[]>({
	endpoint: "testimonies",
	wrappedByKey: "data",
});
---

<Layout title="Daniel Culis | Témoignages" navbar_selected={3}>
	<main class="w-full flex flex-col items-center">
		<div class="prose lg:prose-xl">
			{
				(testimonies || []).map((data) => (
					<div class="px-3 pt-6">
						<Testimony data={data} />
					</div>
				))
			}
		</div>
	</main>
</Layout>
