---
import { Image } from "astro:assets";
import { HomeQuote } from "../cms/HomeQuote";
import { client } from "../../../tina/__generated__/client";

import jarreImage from "../../assets/img/giga_jarre.jpg";

const citation = await client.queries.home({ relativePath: "citation.md" });
---

<div class="h-fit -z-10 down-gradient overflow-visible">
	<div class="h-full w-full flex flex-col absolute">
		<div class="flex justify-end">
			<div
				class="flex flex-col text-white w-fit pt-16 2xl:pt-32 pr-16 lg:pr-24 xl:pr-32"
			>
				<h1
					class="text-6xl sm:text-8xl lg:text-9xl whitespace-nowrap w-fit"
				>
					Daniel Culis
				</h1>
				<h2 class="text-xl sm:text-5xl md:text-6xl w-fit">
					potier d'art
				</h2>
			</div>
		</div>
		<div
			class="md-container hidden lg:block flex-grow my-4 pt-1 lg:pt-2 xl:pt-12 px-12 xl:px-44 prose max-w-none text-white text-center"
		>
			<HomeQuote client:load {...citation} />
		</div>
	</div>
	<Image
		src={jarreImage}
		alt="Jarre en terre cuite"
		class="w-full -z-10"
		style="transform: translateZ(-10px)"
	/>
</div>

<style>
	@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

	.down-gradient {
		background-image: linear-gradient(
			to top,
			rgba(0, 0, 0, 0.2) 10%,
			rgba(0, 0, 0, 1)
		);
		transform-style: preserve-3d;
	}

	h1 {
		font-family: "Great Vibes", cursive;
	}

	.md-container {
		overflow: hidden;
		overflow-x: hidden;
	}
</style>
<style is:inline>
	.md-container p {
		margin-block: 1rem;
	}

	@media screen and (min-width: 1450px) {
		.md-container p {
			font-size: 1.2rem;
		}
	}

	@media screen and (min-width: 1650px) {
		.md-container p {
			font-size: 1.5rem;
		}
	}

	@media screen and (min-width: 2030px) {
		.md-container p {
			font-size: 1.75rem;
			margin-block: 2rem;
		}
	}

	@media screen and (min-width: 2300px) {
		.md-container {
			padding-top: 6%;
		}
		.md-container p {
			font-size: 2rem;
		}
	}
</style>
