---
import { SEO } from "astro-seo";

import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
export interface Props {
	title: string;
	navbar_selected: number;
}

const { title, navbar_selected } = Astro.props;
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/style.css" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<SEO
			title="Daniel Culis"
			description="Un site mémorial du potier Daniel Culis"
			openGraph={{
				basic: {
					title: "Daniel Culis",
					type: "profile",
					image: "https://cms.gasdev.fr/uploads/jarre_a_la_corde_8223f65436.jpg",
					url: "https://danielculis.vercel.app",
				},
				optional: {
					description: "Un site mémorial du potier Daniel Culis",
				},
			}}
			extend={{
				meta: [
					{
						property: "og:type:profile:first_name",
						content: "Daniel",
					},
					{
						property: "og:type:profile:last_name",
						content: "Culis",
					},
					{
						property: "og:type:profile:username",
						content: "Daniel Culis",
					},
					{
						property: "og:type:profile:gender",
						content: "male",
					},
				],
			}}
		/>
		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "ProfilePage",
				"dateCreated": "2023-12-08T12:34:00-05:00",
				"dateModified": "2023-12-08T12:34:00-05:00",
				"mainEntity": {
					"@type": "Person",
					"name": "Daniel Culis",
					"identifier": "danielculis",
					"description": "Potier d'art",
					"image": "https://cms.gasdev.fr/uploads/jarre_a_la_corde_8223f65436.jpg"
				}
			}
		</script>
		<script
			is:inline
			defer
			src="https://analytics.gasdev.fr/script.js"
			data-website-id="1f618454-ad78-4ff6-ac4f-4e61cc244338"></script>
	</head>
	<body class="flex flex-col h-[100vh] bg-[#f2eee9] overflow-x-hidden">
		<header>
			<Navbar selected_page={navbar_selected} />
		</header>
		<slot />
		<div class="grow flex flex-col justify-end w-full">
			<Footer />
		</div>
	</body>
</html>
