---
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
export interface Props {
	title: string;
	navbar_selected: number;
	transitions?: boolean;
}

const { title, navbar_selected, transitions } = Astro.props;
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/style.css" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		{transitions && <ViewTransitions />}
	</head>
	<body class="flex flex-col h-[100vh] bg-[#f2eee9] overflow-x-hidden">
		<header>
			<Navbar selected_page={navbar_selected} />
		</header>
		<slot />
		<div class="grow flex flex-col justify-end w-full">
			<Footer />
		</div>
	</body>
</html>
